body {
    margin:0px;
    padding:0px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:yellow;
    width:100vw;
    height:100vh;
    flex-direction:column;
}
.player {
    background-color:rgb(127.5,0,0);
    width:170px;
    height:270px;
    border:10px solid black;
    border-radius:80px 80px 0px 0px;
}
.inside {
    background-color:#ff0000;
    width:165px;
    height:260px;
    position:absolute;
    border-radius:45% 36% 43% 37% / 20% 40%;
    margin-left:5px;
    margin-top:2px;
}
.glasses {
    width:150px;
    height:70px;
    position:absolute;
    border-radius:40px;
    border:10px solid black;
    background-color:#225381;
    margin-top:50px;
    margin-left:40px;
    display:flex;
    justify-content:flex-end;
}
.inside-glasses {
    background-color:#71d4eC;
    width:120px;
    height:50px;
    border-radius:0px 30px 10px 40px;
}
.white {
    background-color:#FFF;
    width:70px;
    height:15px;
    transform:rotate(5deg);
    margin-left:30%;
    margin-top:10%;
    border-radius:15px;
}
.bag {
    width:40px;
    height:150px;
    background-color:rgb(127.5,0,0);
    position:absolute;
    margin-left:-60px;
    margin-top:80px;
    border:10px solid black;
    border-radius:20px 0 0px 20px;
}
.bag-top {
    background-color:#ff0000;
    width:40px;
    height:40px;
    border-radius:10px 0px 0px 0px;
}
.p {
    background-color:#ff0000;
    width:10px;
    height:7px;
    position:absolute;
    margin-top:40px;
    border-radius:0px 0px 100% 0px;
}
.t {
    width:50px;
    height:10px;
    background-color:black;
    position:absolute;
    margin-top:270px;
    z-index:2;
    margin-left:75px;
    border-radius:0px 0px 50% 0px;
}
.leg-1 {
    border:10px solid black;
    border-top:0px;
    position:absolute;
    width:65px;
    height:70px;
    background-color:rgb(127.5,0,0);
    margin-top:270px;
    margin-left:-10px;
    border-radius:0px 0px 30px 30px;
}
.leg-2 {
    border:10px solid black;
    border-top:0px;
    position:absolute;
    width:65px;
    height:70px;
    background-color:rgb(127.5,0,0);
    margin-top:270px;
    margin-left:95px;
    border-radius:0px 0px 30px 30px;
}
.colors {
    display:flex;
    flex-direction:column;
    margin-top:-70px;
}
.top {
    background-color:#acf5a3;
    padding-top:5px;
}
.top-ul {
    display:flex;
    flex-direction:row;
    list-style:none;
    background-color:#acf5a3;
    margin:0px;
    padding:0px;
}
.top-ul li {
    padding:3px;
    background-color:#c4f7c0;
    margin-right:5px;
}
.top-ul li:first-child {
    margin-left:5px;
}
.bottom-color {
    width:207px;
    background-color:#acf5a3;
    margin-bottom:20px;
}
.bottom-color ul {
    display:flex;
    justify-content:center;
    align-items:center;
    list-style:none;
    flex-direction:row;
    flex-wrap:wrap;
    padding:0px 20px 0px 20px;
}
.bottom-color ul li {
    border-radius:5px;
    padding:15px;
    /* background-color:#FFF; */
    margin:8px;
    border:3px solid black;
}
.Red {
    background-color:red;
}
.Green {
    background-color:green;
}
.Bronw {
    background-color:brown;
}
.Blue {
    background-color:blue;
}
.Pink {
    background-color:pink;
}
.Yellow {
    background-color:yellow;
}
.Brown {
    background-color:rgb(65, 41, 15);
}
.Purple {
    background-color:purple;
}
.LGreen {
    background-color:lightgreen;
}
.Cyan {
    background-color:cyan;
}
.White {
    background-color:White;
}
.Black {
    background-color:black;
}
.Orange {
    background-color:orange;
}
.Gray {
    background-color:gray;
}